/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Special+Elite&family=Nosifer&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*Generic Project Styles*/
    color: black;
    font-family: 'oswald', sans-serif;
}

/*Header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;



}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}


#logo {
    text-align: center;


}

.active {
    border-bottom: 1px solid black;

}

/*Nav bar styles for dropdown menu*/
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;

}


/*Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}



/*Main Content*/
main {
    background-color: white;
    /*Make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
    margin-top: 47px;
}

#intro {

    padding-top: 70px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    margin-bottom: 10px;
}

/*thailand img section styles*/
#thailand-img {
    width: 100%;
    height: 300px;
    background: url("../images/thailand-img.jpg") no-repeat center center/cover;

    margin-left: 2px;
    margin-right: 2px;


}

#thailand-head {
    position: relative;
    margin-left: 2px;
    top: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}

#thailand-content-main {
    position: absolute;
    margin-left: 2px;
    left: 60%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#thailand-para {
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
    text-align: center;
}

#thailand-main-nav {
    display: flex;
    justify-content: center;
    color: white;
    border: 2px solid #3a3a3a3a;
    text-decoration: none;
    background-color: #3a3a3a;
    margin-top: 10px;

}

#vietnam-img {
    width: 100%;
    height: 300px;
    background: url("../images/vietnam-img.jpg") no-repeat center center/cover;
    margin-top: 10px;

    margin-left: 2px;
    margin-right: 2px;
}

#vietnam-head {
    position: relative;

    display: flex;
    justify-content: center;
    text-align: center;
}

#vietnam-para {
    margin-left: 2px;
    margin-right: 2px;
    justify-content: center;
    text-align: center;
}

#vietnam-main-nav {
    display: flex;
    justify-content: center;
    color: white;
    border: 2px solid #3a3a3a3a;
    text-decoration: none;
    background-color: #3a3a3a;
    margin-top: 10px;
}

/*Top places content */
#top-places {
    text-align: center;
    border-bottom: #3a3a3a solid 2px;
    margin-top: 10px;

}

#top-places-content {
    text-align: center;
    justify-content: space-between;
}

#koh-tao {
    text-align: center;
    padding: 1rem;
    border: solid grey 5px;
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;
}

#thailand-koh-tao {
    font-size: 24px;
    color: #3a3a3a;
    text-decoration: none;
}

#koh-tao-medal {
    font-size: 50px;
    color: gold;
}



#pai-medal {
    font-size: 50px;
    color: silver;
}

#pai {
    text-align: center;
    padding: 2rem;
    border: solid grey 5px;
    text-align: center;
    padding: 1rem;
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;
}

#thailand-pai {
    font-size: 24px;
    color: #3a3a3a;
    text-decoration: none;
}

#hi-giang {
    text-align: center;
    padding: 2rem;
    border: solid grey 5px;
    text-align: center;
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;
}

#hi-giang-medal {
    font-size: 50px;
    color: gold;
}

#vietnam-hi-giang {
    text-decoration: none;
    font-size: 24px;
    color: #3a3a3a;
}

#sapa {
    text-align: center;
    padding: 2rem;
    border: solid grey 5px;
    border-left: 2px;
    border-right: 2px;
    border-top: 2px;
    border-bottom: 2px;

}

#sapa-medal {
    font-size: 50px;
    color: silver;
}

#vietnam-sapa {
    text-decoration: none;
    font-size: 24px;
    color: #3a3a3a;
}


/*Footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a3a;
}


/*Thailand page*/
#thailandpage-heading {
    margin-top:50px;
    display: flex;
    justify-content: center;
    font-size: x-large;
}
#thailand-flag {
    width: 100%;
    height: 200px;
    background: url("../images/thailand-flag.jpg") no-repeat center center/cover;
    margin-top: 10px;

    margin-left: 2px;
    margin-right: 2px;
}
#thai-intro {
    text-align: center;
}

#kohtaoheading {
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px solid gray;

}

/*Media query: tablets and larger (768px and up*/
@media screen and (min-width:768px) {

    /*Header*/

    header {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #logo {
        display: flex;
        text-align: center;
        justify-content: center;

    }

    nav {
        display: flex;
        width: 100%;
        padding-right: 1rem;
        text-align: center;
        justify-content: center;
        margin: 0;
    }

    #intro {
        font-size: larger;
    }

    #menu {
        display: flex;

    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /*Main content*/
    main {
        margin-top: 79px;
    }

    #top-places-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
    }

   
    }


    /*Larger devices (laptops and desktops 992px and up )*/
    @media screen and (min-width:992px) {
        #menu a:hover {
            border-bottom: 1px solid grey;
        }

        /*Thailand-content*/

        #thailand-img {
            float: left;
            width: 50%;
            position: relative;
            margin-left: 10px;
        }

        #thailand-head {
            padding-left: 5px;
            border-bottom: solid 2px black;
            display: inline-block;

        }

        #thailand-para {
            padding-left: 16px;
            position: absolute;
            width: 50%;
            left: 50%;
        }
        

        /*Vietnam-content*/

        #vietnam-img {
            width: 50%;
            display: flex;
            margin-top: 10px;
            float: right;
            position: relative;
            margin-right: 10px;
        }

        #vietnam-content-main {
            margin-top: 300px;
        }

        #top-places {
            margin-top: 200px;
        }

    }